<div id="homepage">
  {{#if loggedIn}}
    {{#if posts}}
      {{#each posts as |post|}}
        <div class="postSummary">
          <a href="/post/{{post.id}}">
            <h2 class="postTitle">{{post.title}}</h2>
            <p class="postDetails">Created by:
              {{post.user.name}}
              on
              {{post.createdAt}}</p>
          </a>
        </div>
      {{/each}}
    {{else}}
      <h2 id="noPostsFound">No Posts Found</h2>
    {{/if}}
  {{else}}
    <h1 id="homepageTitle" class="typewrite" data-period="2000" data-type='["Welcome to DevSpeak!", "Join us today!"]'>Welcome to DevSpeak!</h1>
    <h2 id="homepageInspo">Unlock the World of Tech and Code: Your Gateway to Innovation and Expertise...</h2>
    <a class="editPostBtn" href="/login">Login</a>
  {{/if}}
  <script src="/js/homepage.js"></script>
</div>
